/**
 * @author - https://piccalil.li/blog/a-modern-css-reset/
 */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  text-align: left;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: system-ui;
}

.container {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--clr-background, #222222);
  display: grid;
  place-items: center;
  grid-template-areas: "stack";
}

.order {
  position: absolute;
  user-select: none;
  font-family: "Share Tech Mono", monospace;
  font-size: 90rem;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.03);
}

.bouncer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
}
.bouncer__ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: crimson;
  animation: bounce 500ms infinite cubic-bezier(0.19, 0.57, 0.3, 0.98) alternate;
}
.bouncer__ball:nth-child(2) {
  animation-delay: 100ms;
  opacity: 80%;
}
.bouncer__ball:nth-child(3) {
  animation-delay: 200ms;
  opacity: 60%;
}
.bouncer__ball:nth-child(4) {
  animation-delay: 300ms;
  opacity: 40%;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}

.spinner-1 {
  width: 5rem;
  height: 5rem;
  position: relative;
}
.spinner-1 div {
  position: absolute;
  inset: 0;
  border: 3px solid transparent;
  border-top-color: crimson;
  border-radius: 50%;
  animation: spinner 600ms linear infinite;
}
.spinner-1 div:nth-child(1) {
  border-bottom-color: crimson;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#circles-1.circles {
  height: 40px;
  transform-origin: bottom center;
  animation: rotate-circles 3s linear infinite;
}
#circles-1.circles .circles__circle {
  display: inline-block;
  background-color: crimson;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow-circles 1.75s linear infinite;
  margin: -10px;
}
#circles-1.circles .circles__circle:nth-child(2) {
  background-color: steelblue;
  animation-delay: 0.75s;
}
@keyframes rotate-circles {
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow-circles {
  50% {
    transform: scale(0.8);
  }
}

#circles-2.circles {
  --_size: var(--size, 5rem);
  --_animation-speed: var(--animation-speed, 1000ms);
  --_animation-timing: var(--animation-timing, ease-in-out);
  --_animation-turns: var(--animation-turns, 2turn);
  inline-size: var(--_size);
  aspect-ratio: 1;
  position: relative;
  animation: rotate var(--_animation-speed) infinite var(--_animation-timing);
}
@keyframes rotate {
  to {
    rotate: var(--_animation-turns);
  }
}
#circles-2.circles > div {
  --_bg: var(--bg, #FFFFFF);
  --_h: var(--h, 332);
  --_h-ratio: var(--h-ratio, 20);
  --_s: var(--s, 100%);
  --_s-ratio: var(--s-ratio, 5%);
  --_l: var(--l, 65%);
  --_l-ratio: var(--l-ratio, 3%);
  --_size: var(--size, 11rem);
  --_inset-inline-start: var(--inset-inline-start, auto);
  --_inset-inline-end: var(--inset-inline-end, auto);
  --_inset-block-start: var(--inset-block-start, auto);
  --_inset-block-end: var(--inset-block-end, auto);
  --_animation-scale: var(--animation-scale, 1);
  --_animation-translate: var(--animation-translate, 1);
  position: absolute;
  inset: var(--_inset-block-start) var(--_inset-inline-end) var(--_inset-block-end) var(--_inset-inline-start);
  inline-size: var(--_size);
  aspect-ratio: 1;
  background-color: hsl(calc(var(--_h) - var(--_h-ratio) * var(--_i)), calc(var(--_s) - var(--_s-ratio) * var(--_i)), calc(var(--_l) - var(--_l-ratio) * var(--_i)));
  background-color: var(--_bg);
  border-radius: 50%;
  animation: move var(--_animation-speed) infinite ease;
}
@keyframes move {
  50% {
    translate: var(--_animation-translate);
    scale: var(--_animation-scale);
  }
}
#circles-2.circles > div:nth-child(even) {
  --_size: 30%;
  --_inset: 5%;
  --_animation-scale: 0.85;
}
#circles-2.circles > div:nth-child(odd) {
  --_size: 50%;
  --_inset: 0;
  --_animation-scale: 0.35;
}
#circles-2.circles > div:nth-child(1) {
  --_bg: hsl(332, 100%, 64%);
  --_i: 1;
  --_inset-block-start: var(--_inset);
  --_inset-inline-start: var(--_inset);
  --_animation-translate: -20% -20%;
}
#circles-2.circles > div:nth-child(2) {
  --_i: 2;
  --_bg: hsl(315, 55%, 61%);
  --_inset-block-start: var(--_inset);
  --_inset-inline-end: var(--_inset);
  --_animation-translate: 5% -10%;
}
#circles-2.circles > div:nth-child(3) {
  --_i: 3;
  --_bg: hsl(267, 45%, 66%);
  --_inset-block-end: var(--_inset);
  --_inset-inline-end: var(--_inset);
  --_animation-translate: 20% 20%;
}
#circles-2.circles > div:nth-child(4) {
  --_i: 4;
  --_bg: hsl(221, 70%, 69%);
  --_inset-block-end: var(--_inset);
  --_inset-inline-start: var(--_inset);
  --_animation-translate: -5% 10%;
}

#circles-3.circles {
  --_space: var(--space, 1rem);
  --_size: var(--size, 3rem);
  --_animation-speed: var(--animation-speed, 600ms);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--_space);
}
#circles-3.circles span {
  background-color: crimson;
  width: calc(var(--_size) / 10);
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate3d(0);
  animation: bounceCircles var(--_animation-speed) infinite alternate;
}
@keyframes bounceCircles {
  0% {
    transform: translateY(0);
  }
  100% {
    width: var(--_size);
    transform: translate3d(0, -1.2rem, 0);
  }
}
#circles-3.circles span:nth-child(2) {
  animation-delay: calc(var(--_animation-speed) / 3);
}
#circles-3.circles span:nth-child(3) {
  animation-delay: calc(var(--_animation-speed) / 3 * 2);
}

.domino {
  --hue: 234;
  --sataturation: 100%;
  --lightness: 66%;
  --size-box: 2rem;
  display: flex;
  gap: 2.3rem;
}
.domino__box, .domino__box::before {
  display: block;
  width: var(--size-box);
  aspect-ratio: 1;
  background-color: var(--clr-background);
  border-radius: 0.5rem;
}
.domino__box {
  --clr-background: hsl(var(--hue), var(--sataturation), var(--lightness));
  animation: rotate-box 650ms ease-out both;
}
.domino__box::before {
  content: "";
  transform: translateY(-150%);
  opacity: 0;
  animation: show-hide-box 650ms ease-out forwards;
}
.domino__box:nth-child(2) {
  --clr-background: hsl(var(--hue), var(--sataturation), 73%);
  animation-delay: 650ms;
}
.domino__box:nth-child(2)::before {
  animation-delay: 650ms;
}
.domino__box:nth-child(3) {
  --clr-background: hsl(var(--hue), var(--sataturation), 80%);
  animation-delay: 1300ms;
}
.domino__box:nth-child(3)::before {
  animation-delay: 1300ms;
}
.domino__box:nth-child(4) {
  --clr-background: hsl(var(--hue), var(--sataturation), 87%);
  animation-delay: 1950ms;
}
.domino__box:nth-child(4)::before {
  animation-delay: 1950ms;
}
.domino__box:nth-child(5) {
  --clr-background: hsl(var(--hue), var(--sataturation), 94%);
  animation-delay: 2600ms;
}
.domino__box:nth-child(5)::before {
  animation: show-hide-box 650ms ease-out forwards, show-box 0ms ease-out forwards;
  animation-delay: 2600ms;
}
.domino__box:nth-child(6) {
  --clr-background: hsl(var(--hue), var(--sataturation), 101%);
  animation-delay: 3250ms;
}
.domino__box:nth-child(6)::before {
  animation-delay: 3250ms;
}
.domino--reverse .domino__box {
  animation: rotate-box-reverse 650ms ease-out both;
}
.domino--reverse .domino__box:nth-child(5) {
  animation-delay: 0ms;
  animation-delay: 0ms;
}
.domino--reverse .domino__box:nth-child(5)::before {
  animation: show-hide-box-reverse 650ms ease-out 0ms forwards;
  opacity: 1;
  animation-delay: 0ms;
}
.domino--reverse .domino__box:nth-child(4) {
  animation-delay: 650ms;
}
.domino--reverse .domino__box:nth-child(4)::before {
  animation: show-hide-box-reverse 650ms ease-out 650ms forwards;
}
.domino--reverse .domino__box:nth-child(3) {
  animation-delay: 1300ms;
}
.domino--reverse .domino__box:nth-child(3)::before {
  animation: show-hide-box-reverse 650ms ease-out 1300ms forwards;
}
.domino--reverse .domino__box:nth-child(2) {
  animation-delay: 1950ms;
}
.domino--reverse .domino__box:nth-child(2)::before {
  animation: show-hide-box-reverse 650ms ease-out 1950ms forwards;
}
.domino--reverse .domino__box:nth-child(1) {
  animation-delay: 2600ms;
}
.domino--reverse .domino__box:nth-child(1)::before {
  animation: show-hide-box-reverse 650ms ease-out 2600ms forwards;
}
@keyframes rotate-box {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
@keyframes rotate-box-reverse {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
@keyframes show-hide-box {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-hide-box-reverse {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-box {
  to {
    opacity: 1;
  }
}

#box-1.box {
  --_size: var(--size, 3rem);
  --_bg: var(--bg, hsl(0, 0%, 100%));
  --_animation-speed: var(--animation-speed, 2000ms);
  --_animation-timing: var(--animation-timing, ease-in-out);
  position: relative;
  inline-size: var(--_size);
  aspect-ratio: 1;
  border: calc(var(--_size) / 10) solid var(--_bg);
  animation: rotate var(--_animation-speed) infinite var(--_animation-timing);
}
#box-1.box::after {
  content: "";
  position: absolute;
  inset: -1px;
  background-color: var(--_bg);
  scale: 1 0;
  transform-origin: top;
  animation: scale var(--_animation-speed) infinite var(--_animation-timing);
}
@keyframes rotate {
  0% {
    rotate: 0turn;
  }
  25%, 50% {
    rotate: 0.5turn;
  }
  75%, 100% {
    rotate: 1turn;
  }
}
@keyframes scale {
  0%, 25%, 100% {
    scale: 1 0;
  }
  50%, 75% {
    scale: 1 1;
  }
}

/*# sourceMappingURL=main.css.map */
