
.domino {
	$num-of-boxes       : 5;
	$animation-duration : 650ms;
	$lightness          : 66%;
	$lightness-ratio    : 7%;
	--hue               : 234;
	--sataturation      : 100%;
	--lightness         : #{ $lightness };
	--size-box          : 2rem;

	display             : flex;
	gap                 : 2.3rem;


	&__box,
	&__box::before {
		display          : block;
		width            : var(--size-box);
		aspect-ratio     : 1;
		background-color : var(--clr-background);
		border-radius    : 0.5rem;
	}

	&__box {
		--clr-background : hsl(var(--hue), var(--sataturation), var(--lightness));
		animation        : rotate-box $animation-duration ease-out both;
	}

	&__box::before {
		content   : "";
		transform : translateY(-150%);
		opacity   : 0;
		animation : show-hide-box $animation-duration ease-out forwards;
	}

	@for $i from 1 through $num-of-boxes {
		&__box:nth-child(#{$i + 1}) {
			--clr-background : #{hsl(var(--hue), var(--sataturation), $lightness + $lightness-ratio * $i)};
			animation-delay  : $animation-duration * $i;
		}

		&__box:nth-child(#{$i + 1})::before {
			@if $i == $num-of-boxes - 1 {
				animation : show-hide-box $animation-duration ease-out forwards, show-box 0ms ease-out forwards;
			}

			animation-delay : $animation-duration * $i;
		}
	}


	&--reverse {

		.domino__box {
			animation : rotate-box-reverse $animation-duration ease-out both;
		}

		$_num-of-boxes : $num-of-boxes;
		@for $i from 1 through $_num-of-boxes {
			.domino__box:nth-child(#{$_num-of-boxes}) {
				animation-delay : $animation-duration * ($i - 1);

				@if $_num-of-boxes == 5 {
					animation-delay : 0ms;
				}
			}

			.domino__box:nth-child(#{$_num-of-boxes})::before {
				animation : show-hide-box-reverse $animation-duration ease-out $animation-duration * ($i - 1) forwards;

				@if $_num-of-boxes == 5 {
					opacity         : 1;
					animation-delay : 0ms;
				}
			}

			$_num-of-boxes : $_num-of-boxes - 1;
		}
	}


	@keyframes rotate-box {
		from {
			transform : rotate(-45deg);
		}
		to {
			transform : rotate(45deg);
		}
	}

	@keyframes rotate-box-reverse {
		from {
			transform : rotate(45deg);
		}
		to {
			transform : rotate(-45deg);
		}
	}

	@keyframes show-hide-box {
		0%, 99% {
			opacity : 1;
		}
		100% {
			opacity : 0;
		}
	}

	@keyframes show-hide-box-reverse {
		0%, 99% {
			opacity : 1;
		}
		100% {
			opacity : 0;
		}
	}

	@keyframes show-box {
		to {
			opacity : 1;
		}
	}
}